.button {
  position: absolute;
  top: 40vh;
  font-family: 'Lucida Grande';
  font-size: 20px;
  border: 1px solid #4f005f;
  border-radius: 20px;
  background: #4f005f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  width: auto;
  height: 100px;
  z-index: 5;
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}
